* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    font-size: 16px;
    opacity: 0.7;
}

button:enabled {
    cursor: pointer;
    opacity: 1;
}

button:hover {
    background-color: #45a049;
}

.options {
    margin-bottom: 20px;
}

.password-result {
    margin-top: 20px;
}

#generated-password {
    background-color: #f9f9f9;
    cursor: not-allowed;
    color: #333;
    font-size: 16px;
}
